@font-face {
    font-family: 'Arial';
    src: url('https://media.cpplus.pw/client/fonts/Arial.woff2');
}

@font-face {
    font-family: 'Arial';
    font-weight: bold;
    src: url('https://media.cpplus.pw/client/fonts/Arial Bold.woff2');
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('https://media.cpplus.pw/client/fonts/Arial Narrow.woff2');
}

@font-face {
    font-family: 'Arial Narrow';
    font-weight: bold;
    src: url('https://media.cpplus.pw/client/fonts/Arial Narrow Bold.woff2');
}

@font-face {
    font-family: 'Asterisk';
    src: url('https://media.cpplus.pw/client/fonts/Asterisk.woff2');
}

@font-face {
    font-family: 'Burbank Small';
    src: url('https://media.cpplus.pw/client/fonts/Burbank Small Medium.woff2');
}

@font-face {
    font-family: 'Burbank Small';
    font-weight: bold;
    src: url('https://media.cpplus.pw/client/fonts/Burbank Small Bold.woff2');
}

@font-face {
    font-family: 'CCComiccrazy';
    src: url('https://media.cpplus.pw/client/fonts/CCComicrazy-Roman.woff2');
}

@font-face {
    font-family: 'CCFaceFront';
    font-style: italic;
    font-weight: bold;
    src: url('https://clubpenguinplus.nyc3.digitaloceanspaces.com/client/fonts/CCFaceFront Bold Italic.woff2');
}
